/vendor/
node_modules/
npm-debug.log
yarn-error.log

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.idea

build
composer.lock
.phpunit.result.cache
.php-cs-fixer.cache
coverage
phpstan.neon

